.card-header {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 2rem;
}

.card-body.p-4 {
    padding-top: 0 !important;
}

.recipe-sheet-print {
    margin-bottom: 0 !important;
}

.presentation-wrapper, .ingredient-wrapper, #steps > div, #indicators > div {
    border: 1px solid #98a6ad;
    padding: 1rem;
    margin-bottom: .5rem;
}

.card-bordered, .table-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

h4 {
    margin: 0 !important;
}

#custom-intro {
    display: flex;
    flex-wrap: wrap;
}

#custom-intro li {
    flex-basis: 33.3333%;
}

.table-wrapper table {
    margin: 0 !important;
}

.table-wrapper table th {
    background: none !important;
    text-transform: none !important;
    color: #6c757d !important;
    font-weight: bold !important;
    font-size: .875rem !important;
    padding: .25rem .5rem !important;
}

.table-wrapper table td {
    padding: .25rem .5rem !important;
}

.indicator {
    display: flex;
    align-items: flex-end;
    line-height: 1;
    padding-top: .5rem;
}

.indicator span {
    margin-left: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
}

.indicator span.expected {
    flex-grow: 0;
    flex-shrink: 0;
}

.indicator span.input {
    border-bottom: 1px solid #6c757d;
    flex-grow: 1;
    flex-shrink: 1;
}

#steps, #indicators  {
    margin: 0;
    justify-content: space-between;;

    > .col-4 {
        flex: 0 0 calc(33.3333% - 0.333rem);
        max-width: calc(33.3333% - 0.333rem);
    }
}

#steps .recipe-timeline {
    padding-left: 10px;
}

@media print {
    .card-header.px-4{
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .card-body.p-4 {
        padding: 0 !important;
    }
}